In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("ChatBotData.csv", encoding='utf-8')

df.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [14]:
df_2 = df.drop(['label'], axis=1)

df_2.head()

                 Q            A
0           12시 땡!   하루가 또 가네요.
1      1지망 학교 떨어졌어    위로해 드립니다.
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.
4          PPL 심하네   눈살이 찌푸려지죠.

In [15]:
df_train = df_2.sample(frac=0.80,random_state=2019)
len(df_train)

9458

In [16]:
df_train.head()

                            Q                     A
8749            혼자 잘 살 수 있을까?     혼자 사는 것도 나쁘지 않아요.
11141  좋아하는 사람이 있는데 사귀는 건 싫어.  책임을 지기 싫은 건지 생각해보세요.
4477                 첫 출근 날이야            많이 긴장되겠어요.
7280         우리는 15년째 이별중입니다,         이제 기억을 놓아주세요.
205                    곱창 생각나         미리 미리 충전해주세요.

In [17]:
df_test = df_2.drop(df_train.index)
len(df_test)

2365

In [18]:
df_train.to_csv("ChatBottrain.csv",index=False,encoding='utf-8-sig')
df_test.to_csv("ChatBottest.csv", index=False,encoding='utf-8-sig')

In [16]:
df_1 = df.sample(frac=0.80,random_state=2019)
len(df_1)

323432

In [17]:
df_2 = df.drop(df_1.index)
len(df_2)

80858

In [18]:
df_1.head()

,id,qid1,qid2,question1,question2,is_duplicate
200491,200491,302267,302268,How do I take care of my orchid?,How do I take care of an orchid?,1
8155,8155,15905,15906,Can someone give me proper piano notes for Laa...,Why do we or why is Remembrance Day acknowledged?,0
7265,7265,14198,14199,What are some of the double standards people h...,What are some double standards on Quora?,0
47912,47912,85497,85498,How do I check if a page is active and no 404 ...,"How can I fix an ""Element not found"" error in ...",0
276477,276477,395434,395435,What would be his reaction if I give him a apo...,What would be his reaction if I give him a let...,1

In [19]:
df_2.head()

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1
21,21,43,44,What's causing someone to be jealous?,What can I do to avoid being jealous of someone?,0
23,23,47,48,How much is 30 kV in HP?,Where can I find a conversion chart for CC to ...,0

In [20]:
df_1.to_csv("train.tsv",index=False, sep='\t',encoding='utf-8-sig')
df_2.to_csv("test.tsv", index=False, sep='\t',encoding='utf-8-sig')

In [1]:
!wget http://52.78.133.1:8080/home/ubuntu/DataSet/Train.zip

--2023-09-12 09:26:10--  http://52.78.133.1:8080/home/ubuntu/DataSet/Train.zip
Connecting to 52.78.133.1:8080... connected.
HTTP request sent, awaiting response... 200 OK
Length: 964952 (942K) [application/zip]
Saving to: ‘Train.zip’

Train.zip           100%[===================>] 942.34K  1.43MB/s    in 0.6s

2023-09-12 09:26:11 (1.43 MB/s) - ‘Train.zip’ saved [964952/964952]

In [2]:
!wget http://52.78.133.1:8080/home/ubuntu/DataSet/Validation.zip

--2023-09-12 09:26:24--  http://52.78.133.1:8080/home/ubuntu/DataSet/Validation.zip
Connecting to 52.78.133.1:8080... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137011 (134K) [application/zip]
Saving to: ‘Validation.zip’

Validation.zip      100%[===================>] 133.80K  --.-KB/s    in 0.1s

2023-09-12 09:26:24 (969 KB/s) - ‘Validation.zip’ saved [137011/137011]